<header class="header">
    <a class="logo" href="{{ path('main_accueil') }}" >
        <img class="logo" src="{{ asset('resources/logo.png') }}" width="60" height="60" alt="Logo Gato Loto"/>
        <span class="logo">Gato Loto</span>
    </a>
    <nav>
        <a href="{{ path('main_accueil') }}">Accueil</a>
        <a href="{{ path('etudiant_liste') }}">Les étudiants</a>
        <a href="{{ path('etudiant_ajout') }}">Ajouter un étudiant</a>
    </nav>
</header>